*{
    margin: 0;
}

body {
    /* background-color: cornsilk; */
    background-image: url(./img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    margin-bottom: 30px;
    color: rgb(237, 7, 7);
}

h2 {
    color: rgb(163, 8, 39);
}

#challenger-container {
    margin-top: 25px;
}

#challenge-button-div {
    margin-top: 40px;
}

.player1-image {
    margin-top: 45px;
    height: 350px;
    width: 350px;
    /* margin-left: 50px; */
}

.player1-image img {
    height: 80%;
    width: 100%;
}

.player2-image {
    margin-top: 45px;
    height: 350px;
    width: 350px;
    margin-left: 300px;
}

.player2-image img {
    height: 80%;
    width: 100%;
}

#winner {
    margin: auto;
}

.player-badge img {
    height: 50px;
    width: 50px;
}

.player-badge {
    padding-top: 15px;
}

.awesome-animation {
    /* animation-delay: 10s; */
    animation-duration: 6s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.spin:hover {
    animation:spin 1s linear;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

